html {
  font-family: 'NebulaSans';
  font-size: 11pt;
}


div[title="hidden"] {
  display: none !important;
}

div[title="ew1920"] > figcaption,
div[title="ewDiv"] > figcaption,
div[title="wDiv"] > figcaption {
  display: none !important;
}

div[title="ew1920"] {
  max-width: 1920px !important;
  margin-left: calc((1920px - 65ch) / -2) !important;
  margin-right: calc((1920px - 65ch) / -2) !important;
}

div[title="ewDiv"] {
  max-width: 100vw !important;
  margin-left: calc((100vw - 65ch) / -2) !important;
  margin-right: calc((100vw - 65ch) / -2) !important;
}

div[title="wDiv"] {
  max-width: 80vw !important;
  margin-left: calc((80vw - 65ch) / -2) !important;
  margin-right: calc((80vw - 65ch) / -2) !important;
}

@media (max-width: 1920px) {
  div[title="ew1920"] {
    max-width: 100vw !important;
    margin-left: calc((100vw - 65ch) / -2) !important;
    margin-right: calc((100vw - 65ch) / -2) !important;
  }
}

@media (max-width: 752px) {
  div[title="ew1920"] {
    max-width: 100vw !important;
    margin-left: -14px !important;
    margin-right: -14px !important;
  }
  div[title="ewDiv"] {
    max-width: 100vw !important;
    margin-left: -14px !important;
    margin-right: -14px !important;
  }
  div[title="wDiv"] {
    max-width: 100vw !important;
    margin-left: -14px !important;
    margin-right: -14px !important;
  }
}

.post-curtain {
  background-color: rgba(var(--color-primary-900), 0.1);
  &:is(.dark *) {
    background-color: rgba(var(--color-primary-100), 0.1);
  }
  backdrop-filter: none !important;
  position: absolute;
  width: calc(100% + 16px);
  height: calc(100% + 16px);
  z-index: -10;
  border-radius: 4px;
  top: -8px;
  left: -8px;
}
