{{- $disableImageOptimization := .Page.Site.Params.disableImageOptimization | default false }}
{{- $url := urls.Parse .Destination }}
{{- $altText := .Text }}
{{- $caption := .Title }}
{{- if findRE "^https?" $url.Scheme }}
  <div title="{{ $caption }}">
    <img class="my-0 rounded-md" loading="lazy" src="{{ $url.String }}" alt="{{ $altText }}" />
    {{ with $caption }}<figcaption>{{ . | markdownify }}</figcaption>{{ end }}
  </div>
{{- else }}
  {{- $resource := "" }}
  {{- if $.Page.Resources.GetMatch ($url.String) }}
    {{- $resource = $.Page.Resources.GetMatch ($url.String) }}
  {{- else if resources.GetMatch ($url.String) }}
    {{- $resource = resources.Get ($url.String) }}
  {{- end }}
  {{- with $resource }}
    <div title="{{ $caption }}">
      {{- if or $disableImageOptimization (eq .MediaType.SubType "svg")}}
      <img
        class="my-0 rounded-md"
        loading="lazy"
        src="{{ .RelPermalink }}"
        alt="{{ $altText }}"
      />
      {{- else }}
      <img
        class="my-0 rounded-md"
        loading="lazy"
        srcset="
        {{ (.Resize "330x").RelPermalink }} 330w,
        {{ (.Resize "660x").RelPermalink }} 660w,
        {{ (.Resize "1024x").RelPermalink }} 1024w,
        {{ (.Resize "1320x").RelPermalink }} 2x"
        data-zoom-src="{{ (.Resize "1320x").RelPermalink }}"
        src="{{ (.Resize "660x").RelPermalink }}"
        alt="{{ $altText }}"
        style="height: auto;"
        width="{{ .Width }}"
        height="{{ .Height }}"
      />
      {{- end }}
      {{ with $caption }}<figcaption>{{ . | markdownify }}</figcaption>{{ end }}
    </div>
  {{- else }}
    <div title="{{ $caption }}">
      <img class="my-0 rounded-md" loading="lazy" src="{{ $url.String }}" alt="{{ $altText }}" />
      {{ with $caption }}<figcaption>{{ . | markdownify }}</figcaption>{{ end }}
    </div>
  {{- end }}
{{- end }}
