{{- define "featuredImage" }}
{{- if (.Param "featuredImage") }}
{{/*  <img class="post-featuredImage" loading="lazy" src="{{ .Param "featuredImage" }}" />  */}}
{{ $fe := .Param "featuredImage" }}

{{ with .Resources.Get $fe }}

  {{- $imgBd5 := md5 $fe -}}
  {{- $respSizes := slice "752" "1280" "1920" -}}
  {{- $dataSzes := "(min-width: 1024px) 100vw, 50vw" -}}
  {{- $holder := "LQIP" -}}
  {{- $hint := "photo" -}}
  {{- $filter := "box" -}}
  {{- $imgClass := "post-featuredImage animate-fade" -}}

  {{- $divClass := print "post-featuredImage imgB-" $imgBd5 "-" $holder -}}
  {{- $imgRsc := . -}}
  {{- $actualImg := $imgRsc.Process (print "resize 720x jpg " $filter) -}}
  <div class="{{ $divClass }}" {{ with $imgRsc.Width }}{{- if ge 752 . -}}style="width: {{ $imgRsc.Width }}px;"{{- end }}{{ end }} data-pagefind-ignore {{ with $.Title}} title="{{ . }}" {{ end }}>
    <picture data-pagefind-ignore>
      <source type="image/webp" srcset="
      {{- with $respSizes -}}
        {{- range $i, $e := . -}}
          {{- if ge $imgRsc.Width . -}}
            {{- if $i }}, {{ end -}}{{- ($imgRsc.Process (print "resize " . "x webp " $hint " " $filter) ).RelPermalink }} {{ . }}w
          {{- end -}}
        {{- end -}}
      {{- end -}}" sizes="{{ $dataSzes }}" />
      <source type="image/jpeg" srcset="
      {{- with $respSizes -}}
        {{- range $i, $e := . -}}
          {{- if ge $imgRsc.Width . -}}
            {{- if $i }}, {{ end -}}{{- ($imgRsc.Process (print "resize " . "x jpg " $filter) ).RelPermalink }} {{ . }}w
          {{- end -}}
        {{- end -}}
      {{- end -}}" sizes="{{ $dataSzes }}" />
      <img style="object-fit: cover;" class="{{ $imgClass }}" src="{{ $actualImg.RelPermalink }}" loading="lazy" data-pagefind-ignore />
    </picture>
  </div>
{{ end }}

{{ end }}
{{- end }}

{{- define "main" }}
{{- $isNewsletter := eq .Type "newsletter" }}
<article class="post-single">
  <header class="post-header">
    {{ partial "breadcrumbs.html" . }}

    {{- if $isNewsletter -}}
      {{- partial "newsletter_brand.html" . }}
    {{- end -}}
    <h1 class="post-title">
      {{- if $isNewsletter -}}
        {{- replace .Title (.Param "titlePrefix") (.Param "titlePrefixReplace") -}}
      {{- else -}}
        {{- if not (.Param "skipTitle") }}
          {{ .Title -}}
        {{ end -}}
      {{- end -}}
      {{- if .Draft -}}<sup><span class="entry-isdraft">&nbsp;&nbsp;[draft]</span></sup>{{- end -}}
    </h1>
    {{- if .Description }}
    <div class="post-description">
      {{- .Description -}}
    </div>
    {{- end }}
    {{- if not (.Param "hideMeta") }}
    <div class="post-meta">
      {{- partial "post_meta.html" . -}}
      {{- partial "edit_post.html" . -}}
      {{- partial "post_canonical.html" . -}}
    </div>
    {{- end }}
  </header>
  {{- $isHidden := .Params.cover.hidden | default site.Params.cover.hiddenInSingle | default site.Params.cover.hidden }}
  {{- partial "cover.html" (dict "cxt" . "IsHome" false "isHidden" $isHidden) }}
  {{- if (.Param "ShowToc") }}
  {{- partial "toc.html" . }}
  {{- end }}

  {{- if .Content }}
  <div class="post-content">
    {{- if not (.Param "disableAnchoredHeadings") }}
    {{- partial "anchored_headings.html" .Content -}}
    {{- else }}{{ .Content }}{{ end }}
  </div>
  {{- end }}

  {{ if .Store.Get "hasMermaid" }}
    {{- partial "mermaid.html" -}}
  {{ end }}

  {{ if or ( .HasShortcode "audio" ) ( .HasShortcode "video" ) }}
    {{- partial "plyr.html" . -}}
  {{ end }}

  <footer class="post-footer">
    {{- if (.Param "socialLinks") }}
    {{- partial "social_links.html" . }}
    {{- end }}

    {{- if (.Param "ShowPostNavLinks") }}
    {{- partial "post_nav_links.html" . }}
    {{- end }}

    {{- if $isNewsletter }}
      <div class="newsletter-sub">
        <div class="notice">
          {{- if site.Params.newsletter.notice.usePartial }}
            {{- partial "newsletter_notice.html"}}
          {{- else }}
            {{- site.Params.newsletter.notice.content | default "Thanks for reading, if you like it, please subscribe below." }}
          {{- end }}
        </div>
        {{- partial "newsletter_sub_form.html"}}
      </div>
    {{- end }}
  </footer>

  {{- if not (.Param "noComments") }}
    <div class="comments-separator"></div>
    {{- partial "comments.html" . }}
  {{- end }}
</article>

{{- end }}{{/* end main */}}
